@model BookStore.Models.User

@{
    ViewData["Title"] = "Login";
}

@if (TempData["Error"] != null)
{
    <div id="mensagem-sucesso" class="alert alert-danger text-center mt-3">@TempData["Error"]</div>
    <script>
        setTimeout(function () {
            document.getElementById("mensagem-sucesso").style.display = "none";
        }, 4000);
    </script>
}
<h3>Login</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Register" asp-controller="UserAccount">Cadastr-se</a>
</div>


