
@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["Success"] != null)
{
    <div id="mensagem-sucesso" class="alert alert-success text-center mt-3">@TempData["Success"]</div>
    
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script>
    setTimeout(function () {
        document.getElementById("mensagem-sucesso").style.display = "none";
    }, 4000);
</script>