<link rel="stylesheet" href="~/css/Home/styles.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["Success"] != null)
{
    <div id="mensagem-sucesso" class="alert alert-success text-center mt-3">@TempData["Success"]</div>
    
}
<div class="container d-flex flex-column justify-content-center align-items-center w-100 h-100 gap-2">
    <div class="crd-green">
        <span >
            FAÇA PARTE DA <span class="f-green">COMUNIDADE</span>
        </span>
        <span class="crd-green-subtitle">
            DE <span class="f-green">LITERATURA</span> MAIS
        </span>
        <span>
            <span class="f-green">QUERIDA</span> DO BRASIL
        </span>
    </div>

    <button class="srvl-btn-green" onclick="location.href='@Url.Action("Index","Login")'">L O G IN</button>
    <button class="srvl-btn-white" onclick="location.href='@Url.Action("Index","Registro")'">R E G I S T R O</button>
</div>



<script>
    setTimeout(function () {
        document.getElementById("mensagem-sucesso").style.display = "none";
    }, 4000);
</script>