@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400&display=swap');
html, body, :root {
    margin: 0;
    padding: 0;
    background-color: #202124;
    color: #FFFFFF;
    font-family: 'Rambla', sans-serif;
}


.home-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 1066px;
    height: 626px;
    background: #35363A;
    border-radius: 25px;
}

.home-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    width: 1066px;
    height: 75px;
    border-bottom: 1px solid rgba(15, 157, 88, 0.2);
    box-sizing: border-box;

    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 7px;
    color: #FFFFFF;
}

.crd-green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    font-size: 45px;
    letter-spacing: 0.2px;
    font-weight: 800;
    background-color: rgba(17, 74, 47, 0.62);
    border-radius: 25px;
    line-height: 3rem;
}

.crd-grey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
    gap: 10px;
    width: 260px;
    background: rgba(32, 33, 36, 0.8);
    border-radius: 25px;
}

.crd-green-subtitle {
    font-size: 32px;
}

.f-green {
    color:#3EAF3F;
}

.srvl-btn-green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 250px;
    height: 75px;
    background: #0F9D58;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.57), inset 1px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #D8D8D8;

    transition: 600ms all;
}

.srvl-btn-green:hover{
    transform: scale(1.02);
}

.srvl-btn-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 250px;
    height: 65px;
    background: #D8D8D8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.57), inset 1px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #393A3F;

    transition: 600ms all;
}

.srvl-btn-white:hover {
    transform: scale(1.02);
}



.form-control:hover {
    box-shadow: 0px 1px 3px #0F9D58
}

.form-control:focus {
    border-color: #0F9D58;
    box-shadow: none;
}
