@model BookStore.ViewModels.BookDetailsViewModel
<h1>@Model.Title</h1>
<hr />
<h5>Adicione a sua lista:</h5>
<button><a>Já Li</a></button>
<button><a>Lerei</a></button>
<button><a>Não gostei</a></button>